@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.section-intro .divider {
    height: 4px;
    width: 70px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    margin: 16px auto;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 1.5rem;
    
}
form .form-control {
    border-radius: 0;
    background: transparent;
    color: rgb(26, 14, 14);
    border-color: rgba(12, 6, 6, 0.5);
}

form .form-control:focus {
    color: rgb(20, 12, 12);
    background: transparent;
    border-color: rgb(19, 18, 18);
}

form input.form-control {
    height: 54px;
}

form .form-control::placeholder {
    color: rgb(82, 62, 62);
}

footer {
    color: #fff;
}

footer a {
    color: #fff;
}
span{
    color: rgb(247, 150, 40);
}